html, body, div {
  margin: 0;
  padding: 0;
}

body {
  width: 960px;
  margin: auto;
}

* {
  font-family: 'helvetica';
  font-weight: 100;
}

h1 {
  font-family: 'Andale Mono';
  font-weight: 100;
}

.underscore:before {
  content: '_'
}

.big {
  font-size: 40px;
}

.bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.c-white {
  color: white;
}

.c-pink {
  color: #ea3d96
}

.auto {
  margin: auto;
}

/* page 1
-------------------------------------------------- */

.page-1 {
  background-image: url('/assets/images/01-parisoma.png');
  background-repeat: no-repeat;
  height: 900px;
}

.article-1-1 h1 {
  width: 300px;
  position: relative;
  top: 200px;
  left: 100px;
}

.article-1-1 p {
  width: 700px;
  position: relative;
}

/* page 2
-------------------------------------------------- */

.article-2-1 {
  position: relative;
  top: -300px;
}

.article-2-1 h1 {
  width: 150px;
  position: absolute;
  right: 200px;
}

.article-2-1 div {
  width: 150px;
  position: absolute;
  right: 0px;
}

.article-2-2 {
  position: relative;
  top: 50px;
}

.article-2-2 h1 {
  width: 200px;
  position: relative;
  left: 200px
}

.article-2-2 table {
  width: 300px;
}

.article-2-2 td  {
  vertical-align: top;
}

.article-2-3 {
  position: relative;
  left: 500;
  width: 250px;
}

/* page 5
-------------------------------------------------- */

.article-5-1 {
  width: 400px;
}

/* page 6
-------------------------------------------------- */

.article-6-2 h1 {
  width: 100px

}